/* Base styles for mobile devices */
body {
    margin: 0;
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background-size: cover;
    background-position: center;
    height: auto; /* Allow the header to grow with content */
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.headerTop {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.headerTop img {
    width: 60px;
    
}

.header-content {
    text-align: center;
    margin-bottom: 20px;
}

.header-heading {
    font-size: 34px; /* Adjusted for mobile */
    font-weight: 800;
    margin: 0;
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

.header-subheading {
    font-size: 20px; /* Adjusted for mobile */
    font-weight: 700;
    margin: 0;
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 9px; /* Adjusted for mobile */
    margin: 20px 0;
}

li {
    margin-bottom: 30px;
    position: relative;
    padding-left: 48px;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    background-image: url('assets/point.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

.book-now-button {
    background-color: transparent;
    color: white;
    border: 2px solid rgb(4, 234, 255);
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.headerBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px ; /* Space between content and image */
    padding: 20px 0;
    width: 100%;
   
}

.headerBottom img {
    width: 90%; /* Ensure the image takes full width */
    max-width: 100%;
    height: auto;
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image horizontally */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: white;
    font-size: 12px;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    
}
