body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.headerTop {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.headerTop img {
    width: 60px;
}

.header-content {
    text-align: center;
    margin-bottom: 20px;
}

.header-heading {
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.header-subheading {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    margin: 20px 0;
}

li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 48px;
}

li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    background-image: url('assets/point.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

.book-now-button {
    background-color: transparent;
    color: white;
    border: 2px solid rgb(4, 234, 255);
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.headerBottom {
    display: flex;
    align-items: center; /* Vertically center the image within the container */
    justify-content: center; /* Center the image horizontally */
    margin-top: 20px; /* Adjust margin to position below the list */
    padding: 20px 0;
    width: 100%;
    height: 100vh; /* Ensure the height is enough to center the image */
}

.headerBottom img {
    width: 90%; /* Adjust as needed */
    max-width: 100%; /* Ensure the image doesn't exceed 100% of the container's width */
    height: auto;
    display: block; /* Ensure the image is displayed as a block element */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: white;
    font-size: 12px;
}

/* Ensure the design works well on small screens */
@media (max-width: 768px) {
    .header-heading {
        font-size: 34px;
    }

    .header-subheading {
        font-size: 20px;
    }

    ul {
        font-size: 14px;
    }

    .book-now-button {
        font-size: 12px;
        padding: 8px 16px;
    }

    .headerBottom img {
        max-width: 100%;
        height: auto;
    }
}
